.highPanelContainer {
    display: flex;
    width: 260px;
    height: 70px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
}

.highBtn {
    background: none;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.highBtn:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}